.message {
    width: 100%;
    padding: 1em;
    border: 1px solid #000;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
    border-radius: 5px;
}

.success {
    color: blue;
    background-color: aliceblue;
    border-color: royalblue;
}

.error {
    color: #721c24;
    background-color: orangered;
    border-color: firebrick;
}